world-time-api/target/classes/worldtime-rest-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="worldtime-rest-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="worldtime-rest-api-config" api="worldtime-rest-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="18370984" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="7dbc1481-9998-4ad3-aa1c-dd1172ab8d45" flowRef="worldtime-rest-api-main" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b3f94d44-37ea-4eea-b1fe-c26e4ea1adcf" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worldtime-rest-api-main">
        <http:listener config-ref="worldtime-rest-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Entering to Main Flow" doc:id="f61209a3-3295-4c0d-8467-dcf7ce4ce97a" message="Entered into the main flow."/>
		<apikit:router config-ref="worldtime-rest-api-config" />
        <logger level="INFO" doc:name="Routing of Message" doc:id="b9a5a7d9-5946-4df5-a0d9-3e8e8469a510" message="Routing of flow."/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <logger level="INFO" doc:name="Error Founded" doc:id="78f47f44-b234-4900-9602-c9b94721a56c" message="Getting into the flow"/>
				<ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="INFO" doc:name="Request Not Valid" doc:id="e7bac5bb-6b02-4eee-bcf1-2d16a11599c3" message="Request is not valid. Please try with valid request."/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <logger level="INFO" doc:name="Error Detected " doc:id="a6519eaf-8165-48f1-9ceb-a4ae993b1167" message="Getting into the flow."/>
				<ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="INFO" doc:name="Resources Not Discoverable." doc:id="e0777813-6de7-4b3c-8985-50f02d00de1d" message="Resources are not discoverable. Please provide with valid request."/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <logger level="INFO" doc:name="Error Founded" doc:id="1e3e61fe-6a5c-4de6-af39-58f9d9152385" message="Entering into the flow."/>
				<ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="INFO" doc:name="Method Not Allowed" doc:id="cc1d4636-0179-488c-b8aa-aa67bbd90bec" message="This method is not allowed. Please try with other methods."/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <logger level="INFO" doc:name="Error Detected" doc:id="ae60c750-16b3-4b4e-b057-fa22abe4539a" message="Getting into the flow."/>
				<ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="INFO" doc:name="Not Acceptable" doc:id="d04537a4-ff35-4ea6-ad13-f2fc3c14bdf1" message="This is not acceptable. Please try with valid credentials."/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <logger level="INFO" doc:name="Error Recognized" doc:id="1f165c8f-9579-47b5-bb8a-a89fb3571e1a" message="Entering into the flow."/>
				<ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="INFO" doc:name="Unsupported Media Type" doc:id="b704863e-1a4c-4164-b121-f9ff72731603" message="This type of media is not supported. Please, try with valid media type."/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <logger level="INFO" doc:name="Error Detected" doc:id="4db4f452-19f1-4c92-8909-3af7eb6c4e2f" message="Getting into the flow."/>
				<ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="INFO" doc:name="Implementation Failed" doc:id="de0829e9-6323-4e6c-8ebf-4aaffc4bb909" message="This is not implemented. Please try again."/>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="worldtime-rest-api-console">
        <http:listener config-ref="worldtime-rest-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Entry to Console" doc:id="2165f95d-eaf8-475f-911d-bbe8f6ee8eba" message="Entering into the console flow."/>
		<apikit:console config-ref="worldtime-rest-api-config" />
        <logger level="INFO" doc:name="Routing of Flow." doc:id="f28e2f1a-f804-4ea4-8556-6028afba447e" message="Routing of flow."/>
		<error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <logger level="INFO" doc:name="Transformation Begins" doc:id="4c7d9070-0055-49f0-801c-18f50d9b0a96" message="Entering into the error handling flow."/>
				<ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
				<logger level="INFO" doc:name="Undiscoverable Resources" doc:id="63c4218c-421c-4baa-b06d-4a369f182a73" message="The resources are not discoverable. Please, provide the resources."/>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\getTime:worldtime-rest-api-config">
        <logger level="INFO" message="Entering into the getTime flow inorder to get the response." doc:name="Request for Get Time "/>
		<http:request method="GET" doc:name="Get Timezone Details" doc:id="04651d15-5fb4-4d77-82ba-034e5a51f452" config-ref="HTTP_Request_configuration" path="/api/timezone/Asia/Kolkata"/>
		<logger level="INFO" doc:name="Transformation Of JSON to Expected Output" doc:id="856c942d-8ed0-43a5-af80-6ff2dd68a1b3" message="Entering of the  json data for transformation to get the expected output. "/>
		<ee:transform doc:name="Transform Message" doc:id="2ec4a670-44bb-4419-9854-f976071b959b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

output application/json

---

"the current time in Kolkata is: " ++ ((payload.utc_datetime splitBy ".")[0]) replace "T" with " "]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Transformation Successful" doc:id="c959bea8-0d1d-4218-b0bd-3945aaae45a3" message="The message has been transformed as per the expected output."/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="789d67dc-1521-46d3-bcd5-334311ce9584" type="ANY">
				<logger level="INFO" doc:name="Error Found" doc:id="13f8bf15-a1de-4e9c-a218-2133fd557ca1" message="Error has been detected."/>
				<set-payload value='#["Inside Error Block."]' doc:name="Set Payload" doc:id="0a62702d-d0a6-4248-b1eb-133aeb2b2f8d" />
				<logger level="INFO" doc:name="Error Handled" doc:id="4ba5a67f-7556-4463-b1e5-1436ea986fcd" message="Error has been handled successfully."/>
			</on-error-continue>
		</error-handler>
    </flow>
</mule>
